<!DOCTYPE html>
<html>
<head>
    <title>Placement Checker</title>
</head>
<body>

    <center>
        <h1>Student Placement Predictor</h1>
        
        <form method="post">
            <label>Enter your CGPA:</label>
            <br><br>
            <input type="number" step="0.1" name="cgpa" required placeholder="e.g. 7.5">
            <br><br>
            <button type="submit">Predict Status</button>
        </form>

        {% if result %}
            <h2>{{ result }}</h2>
        {% endif %}
    </center>

</body>
</html>